.really-responsive-table {
	table-layout: fixed;
	width: 100%;

	th, td {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.clearfix {
		clear: both;
	}

	.really-responsive-table-header {
		display: none;
	}
}

@for $i from 1 through length($medias) {
	$media: nth($medias, $i);
	$class: nth($classes, $i);
	$prefix: "";
	@if $class == $default-class {
		$prefix: ".really-responsive-table, .really-responsive-table." + $class;
	} @else {
		$prefix: ".really-responsive-table." + $class;
	}

	@media #{$media} {
		#{$prefix} {
			> thead {
				display: none;
			}

			> tbody {
				> tr {
					display: table;
					width: 100%;

					> th, > td {
						border: 0;
						display: table-row;
						display: block;
						width: 50%;
						float: left;
						word-wrap: break-word;
						white-space: normal;

						&.really-responsive-table-header {
							display: block;
						}
					}
				}
			}

			> *:first-child {
				> tr:first-of-type {
					> * {
						display: none;
					}
				}
			}
		}
	}
}
